.level-button {
    -fx-min-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 60;
    -fx-max-height: 60;
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-text-fill: #333333;
}

.transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.start-game-label {
    -fx-font-size: 40px;
    -fx-font-weight: 600;
    -fx-alignment: center;
    -fx-padding: 40 0 0 0;
    -fx-font-family: Lucida Sans Unicode, Lucida Grande, Tahoma, sans-serif;
}

.main-content {
    -fx-background-image: url("images/background.png");
}

.insert-number-button {
    -fx-min-width: 45;
    -fx-min-height: 45;
}

.insert-number-button-layout {
    -fx-spacing: 15;
}

.sudokuField {
    -fx-border-width: 0.5;
    -fx-border-color: #888;
}

.polish-flag {
    -fx-background-image: url("images/polish_flag.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.us-flag {
    -fx-background-image: url("images/us_flag.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}