.level-button {
    -fx-min-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 60;
    -fx-max-height: 60;
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.start-game-label {
    -fx-font-size: 22px;
    -fx-font-weight: 500;
    -fx-alignment: center;
    -fx-label-padding: 30px;
    -fx-font-family: Lucida Sans Unicode, Lucida Grande, Tahoma, sans-serif;
}

.main-content {
    -fx-background-image: url("images/background.png");
}

.insert-number-button {
    -fx-min-width: 45;
    -fx-min-height: 45;
}

.insert-number-button-layout {
    -fx-spacing: 15;
}

.sudokuField {
    -fx-border-width: 0.5;
    -fx-border-color: #888;
}