.level-button {
    -fx-min-width: 180;
    -fx-max-width: 180;
    -fx-min-height: 60;
    -fx-max-height: 60;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #333333;
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.manage-game-button {
    -fx-min-width: 150;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-fill: #333333;
    -fx-background-color: #090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

@font-face {
    font-family: "DomoAregato";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/DomoAregato.ttf"), format("TrueType");
}

.start-game-label {
    -fx-font-size: 40px;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-padding: 10 0 0 0;
    -fx-font-family: "DomoAregato";
}

.main-content {
    -fx-background-image: url("images/background.png");
}

.insert-number-button {
    -fx-min-width: 45;
    -fx-min-height: 45;
    -fx-alignment: center;
}

.insert-number-button-layout {
    -fx-spacing: 15;
}

.sudokuField {
    -fx-border-width: 0.5;
    -fx-border-color: #888;
}

.sudokuField-not-changeable {
    -fx-background-color: #DDD;
}

.sudokuFieldSelected {
    -fx-border-color: #00aaa0;
    -fx-border-width: 5px;
}

.sudoku-grid-border {
    -fx-background-color: black, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.polish-flag {
    -fx-background-image: url("images/polish_flag.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.us-flag {
    -fx-background-image: url("images/us_flag.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.nationalization-radio-button {
    -fx-padding: 0 40 0 40;
}

.nationalization-hbox {
    -fx-alignment: center;
    -fx-padding: 80 0 -10 0;
}